/* Main_Window */
QMainWindow {
    background-color: "#1E2024";
}

QWidget[objectName="toolbar"]{
    background-color: "#393D47";
    border-right: 1.5px solid #4B4C4D;
}
QWidget[objectName="toolbar"] QPushButton {
    background-color: "#393D47";
}
QWidget[objectName="toolbar"] QPushButton:hover {
    background-color: "#464A57";
}
QWidget[objectName="toolbar"] QPushButton:pressed {
    background-color: "#565C6B";
}
QWidget[objectName="status_bar"]{
    background-color: "#000000";
}


/* Home_Page */
QWidget[objectName="home_title"]{
    background-color: "#393D47";
}
QWidget[objectName="home_title"] QLabel{
    color: "#FFFFFF";
}
QWidget[objectName="home_title"] QPushButton{
    background-color: "#393D47";
}

QWidget[objectName="message_info"]{
    background-color: "#393D47";
}
QWidget[objectName="message_info"] QPushButton{
    background-color: "#393D47";
}
QWidget[objectName="message_body"]{
    color: "#477BEB";
}


/* Chart_Page */
QWidget[objectName="main_menu"] {
    background-color: "#1E2024";
}
QWidget[objectName="main_menu"] QPushButton {
    min-width: 100px;
    background-color: "#393D47";
    color: "#FFFFFF";
    border: none;
    border-radius: 3px;
}
QWidget[objectName="main_menu"] QPushButton:hover {
    background-color: "#464A57";
    color: "#000000";
}
QWidget[objectName="main_menu"] QPushButton:pressed {
    background-color: "#565C6B";
    color: "#000000";
}

QWidget[objectName="sub_menu"] {
    background-color: "#393D47";
    color: "#FFFFFF";
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
QWidget[objectName="sub_menu"] QWidget{
    background-color: "#393D47";
    color: "#FFFFFF";
}
QWidget[objectName="sub_menu"] QPushButton {
    min-width: 30px;
    border: none;
}
QWidget[objectName="sub_menu"] QPushButton:hover {
    background-color: "#464A57";
}
QWidget[objectName="sub_menu"] QPushButton:pressed {
    background-color: "#565C6B";
}
QWidget[objectName="sub_menu"] QLineEdit{
    background-color: "#525563";
    color: "#FFFFFF";
}
QWidget[objectName="sub_menu"] QLineEdit:focus{
    background-color: "#1E2024";
    color: "#FFFFFF";
}
QWidget[objectName="sub_menu"] QComboBox{
    background-color: "#525563";
    color: "#FFFFFF";
}

QWidget[objectName="chart_area"]{
    background-color: "#1E2024";
    color: "#000000";
}
QWidget[objectName="csv_prev_tab"]{
    background-color: "#FFAAAA";
    color: "#000000";
}

QWidget[objectName="table_area"] QLineEdit{
    background-color: transparent;
    color: "#FFFFFF";
    border: none;
    font-size: 14px;
}
QWidget[objectName="table_area"] QLabel{
    color: "#FFFFFF";
    font-size: 14px;
}

QTableWidget{
    color: white;
    gridline-color: "#474B54";
}
QTableWidget::viewport{
    color: white;
}
QTableWidget QAbstractItemView{
    color: white;
}
QTableWidget QAbstractItemView::viewport{
    color: white;
}
QTableWidget::item{
    color: white;
}
QTableWidget QAbstractItemView::item{
    color: white;
}
QTableWidget QHeaderView::section {
    background-color: "#393D47";
    color: white;
}
QTableWidget{
    background-color: "#393D47";
    color: white;
}
QPushButton#table_setting_button{
    background-color: "#1E2024";
}

#sensor_settings{
	background-color: "#2A2D35";
	border-left: 1px solid "#4B4C4D";
}
QWidget[objectName="sensor_settings"] QPushButton#register_settings_button {
    background-color: "#393D47";
    border: 1px solid "#393D47";
    color: "#FFFFFF";
}
QWidget[objectName="sensor_settings"] QPushButton#register_settings_button:hover {
    background-color: "#464A57";
}
QWidget[objectName="sensor_settings"] QPushButton#register_settings_button:pressed {
    background-color: "#565C6B";
}
QWidget[objectName="sensor_settings"] QPushButton#sensor_settings_close_button {
    background-color: "#2A2D35";
    border: none;
}
QWidget[objectName="sensor_settings"] QPushButton#sensor_settings_close_button:hover {
    background-color: "#343845";
}
QWidget[objectName="sensor_settings"] QPushButton#sensor_settings_close_button:pressed {
    background-color: "#454B5C";
}

#filter_settings{
	background-color: "#2A2D35";
	border-right: 1px solid "#4B4C4D";
}
QWidget[objectName="filter_settings"] QPushButton#csv_browse_button {
    background-color: "#393D47";
    color: "#FFFFFF";
}
QWidget[objectName="filter_settings"] QPushButton#csv_browse_button:hover {
    background-color: "#464A57";
    color: "#000000"
}
QWidget[objectName="filter_settings"] QPushButton#csv_browse_button:pressed {
    background-color: "#565C6B";
    color: "#000000"
}
QWidget[objectName="filter_settings"] QPushButton#filter_settings_close_button {
    background-color: "#2A2D35";
    border: none;
}
QWidget[objectName="filter_settings"] QPushButton#filter_settings_close_button:hover {
    background-color: "#343845";
}
QWidget[objectName="filter_settings"] QPushButton#filter_settings_close_button:pressed {
    background-color: "#454B5C";
}
QLabel#filter_settings_label {
    color: #FFFFFF;
}
QLabel#sensor_settings_label {
    color: #FFFFFF;
}

QTabWidget[objectName="filter_setting_tabs"]{
    background-color: "#393D47";
}
QTabWidget[objectName="filter_setting_tabs"] QWidget{
    background-color: "#393D47";
    color: "#FFFFFF";
}

QTabWidget[objectName="filter_setting_tabs"] QLineEdit{
    background-color: "#525563";
    color: "#FFFFFF";
}
QTabWidget[objectName="filter_setting_tabs"] QComboBox{
    background-color: "#525563";
    color: "#FFFFFF";
}
QTabWidget[objectName="filter_setting_tabs"] QSpinBox{
    background-color: "#525563";
    color: "#FFFFFF";
}
QTabWidget[objectName="filter_setting_tabs"] QLineEdit#csv_browse_edit:focus{
    background-color: "#1E2024";
    color: "#FFFFFF";
}

QTabWidget#filter_setting_tabs QTabBar::tab {
    background-color: gray;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 2px;
    min-width: 40px;
    color: "#000000"
}

QTabWidget#filter_setting_tabs QTabBar::tab:selected {
    background-color: #393D47;
    color: "#FFFFFF"
}

/* Register Page */
QWidget[objectName="register_page"]{
    min-width : 700px;
}
QWidget[objectName="main_widget"] QWidget{
    background-color: "#2A2D35";
}
QWidget[objectName="register_setting_area"] QWidget{
    background-color: "#2A2D35";
}
QWidget[objectName="setting_scroll_area"] QWidget{
    background-color: "#2A2D35";
}
QWidget[objectName="button_area"] QWidget{
    background-color: "#2A2D35";
}
QWidget[objectName="help_area"] QWidget{
    background-color: "#2A2D35";
}
QWidget[objectName="help_area"] QPushButton{
    background-color: "#2A2D35";
    color: "#FFFFFF";
}
QWidget[objectName="help_area"] QPushButton::hover{
    background-color: "#343845";
    color: "#FFFFFF";
}
QWidget[objectName="help_area"] QPushButton:pressed{
    background-color: "#454B5C";
    color: "#FFFFFF";
}
QWidget[objectName="setting_scroll_area"] QGroupBox{
    background-color: "#2A2D35";
	border-top:none;
	border-bottom:1px solid #C1C7CD;
}
QWidget[objectName="register_setting_area"] QLabel{
    color: "#FFFFFF";
}
QWidget[objectName="register_setting_area"] QComboBox{
    color: "#FFFFFF";
    background-color: "#393D47";
}
QWidget[objectName="button_area"] QComboBox{
    background-color: rgb(221, 225, 230);
    color: "#000000";
}
QWidget[objectName="button_area"] QComboBox::hover{
    background-color: rgb(200, 205, 210);
    color: "#000000";
}
/* QWidget[objectName="register_setting_area"] QComboBox::hover{
    color: "#0000FF";
}
QWidget[objectName="register_setting_area"] QComboBox::on{
    color: "#0000FF";
} */
QWidget[objectName="register_setting_area"] QComboBox QAbstractItemView{
    color: "#FFFFFF";
}
QWidget[objectName="button_area"] QComboBox QAbstractItemView{
    color: "#FFFFFF";
}
/* QWidget[objectName="register_setting_area"] QComboBox QAbstractItemView::item:selected{
    color: "#0000FF";
} */
QWidget[objectName="register_setting_area"] QSpinBox{
    color: "#FFFFFF";
    text-transform: uppercase;
}
/* QWidget[objectName="register_setting_area"] QSlider::groove:horizontal{
    border-radius: 1px;
    height: 3px;
}
QWidget[objectName="register_setting_area"] QSlider::add-page:horizontal {
    background: "#CCCCCC";
}
QWidget[objectName="register_setting_area"] QSlider::sub-page:horizontal {
    background: "#3333FF";
}
QWidget[objectName="register_setting_area"] QSlider::handle:horizontal {
    background: "#EEEEFF";
    height: 12px;
    width: 12px;
    border: 2px solid "#3333FF";
    border-radius: 4px;
    margin: -6px 0;
} */


QSlider::groove:horizontal {
    border: none;
    height: 6px;
    background: #ccc;
    border-radius: 3px;
}

QSlider::handle:horizontal {
    background: #ffffff;
    border:1px solid rgb(216, 216, 216);
    width: 12px;
    height: 18px;
    margin: -4px 0;  /* 中央に配置 */
    border-radius: 6.5px;
}

QSlider::sub-page:horizontal {
    background: #3498db;
    border-radius: 3px;
}


/* Setting Page */
QWidget[objectName="setting_page"]{
    background-color: "#1E2024";
}
QPushButton[objectName="apply_button"]{
    background-color: rgb(15, 98, 254);
    color: white;
    border: 1px solid rgb(15, 98, 254);
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
}
QPushButton[objectName="apply_button"]:hover{
    background-color: rgb(35, 118, 255);
    color: #FFFFFF;
}
QPushButton[objectName="apply_button"]:pressed{
    background-color: rgb(10, 78, 204);
    color: #FFFFFF;
}
QPushButton[objectName="cancel_button"]{
    background-color: white;
    color: rgb(77, 83, 88);
    border: 1px solid rgb(77, 83, 88);
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
}
QPushButton[objectName="cancel_button"]:hover{
    background-color: "#DDE1E6";
}
QPushButton[objectName="cancel_button"]:pressed{
    background-color: "#C1C7CD";
    color: "#000000";
}
QWidget[objectName="menubar"] QPushButton{
    background-color: transparent;
    color: white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 2px solid transparent;
    text-align: left;
    padding-left: 8px;
}
QWidget[objectName="menubar"] QPushButton:hover{
    color: lightblue;
}

QWidget[objectName="menubar"] QPushButton:checked{
    color: #0F62FE;
    border-left-width: 2px;
    border-left-color: blue;
    border-left-style: solid;
}

QWidget[objectName="menubar"] QPushButton:checked:hover{
    color: #0F62FE;
    border-left-color: #0F62FE;
}

#menubar{
    background-color: "#1E2024";
    border-right-width: 2px;
    border-right-color: #393D47;
    border-right-style: solid;
    color: "#FFFFFF";
}

/* Color Setting */
QWidget[objectName="color_setting_tab"] QLabel{
    color: "#FFFFFF";
}
QWidget[objectName="color_setting_tab"] QComboBox{
    background-color: "#525563";
    color: "#FFFFFF";
}

/* Shortcut Setting */
QWidget[objectName="sc_setting_tab"] QLabel{
    color: "#FFFFFF";
}
QWidget[objectName="sc_setting_tab"] QLineEdit{
    background-color: "#2A2D36";
    color: "#FFFFFF";
    border-radius: 2px;
}
QWidget[objectName="sc_setting_tab"] QLineEdit:focus{
    background-color: "#1E2024";
    color: "#FFFFFF";
    border-bottom: 1px solid "#4CC2FF";
}
QWidget[objectName="sc_setting_tab"] QPushButton {
    background-color: "#393D47";
    border: none;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
}
QWidget[objectName="sc_setting_tab"] QPushButton:hover {
    background-color: "#464A57";
}
QWidget[objectName="sc_setting_tab"] QPushButton:pressed {
    background-color: "#565C6B";
}

/* Language Setting */
QWidget[objectName="language_setting"] QLabel{
    color: "#FFFFFF";
}
QWidget[objectName="language_setting"] QComboBox{
    background-color: "#525563";
    color: "#FFFFFF";
}

/* Log Setting */
QWidget[objectName="log_setting_tab"] QLabel{
    color: "#FFFFFF";
}
QWidget[objectName="log_setting_tab"] QLineEdit{
    background-color: "#2A2D36";
    color: "#FFFFFF";
    border-radius: 2px;
}
QWidget[objectName="log_setting_tab"] QLineEdit:focus{
    background-color: "#1E2024";
    color: "#FFFFFF";
    border-bottom: 1px solid "#4CC2FF";
}
QWidget[objectName="log_setting_tab"] QSpinBox{
    background-color: "#2A2D36";
    color: "#FFFFFF";
}
QWidget[objectName="log_setting_tab"] QPushButton{
    background-color: "#393D47";
    color: "#FFFFFF";
}
QWidget[objectName="log_setting_tab"] QPushButton:hover{
    background-color: "#464A57";
    color: "#FFFFFF";
}
QWidget[objectName="log_setting_tab"] QPushButton:pressed{
    background-color: "#565C6B";
    color: "#FFFFFF";
}


QWidget[objectName="net_setting_tab"] QLabel{
    color: "#FFFFFF";
}
QWidget[objectName="net_setting_tab"] QLineEdit{
    background-color: "#2A2D36";
    color: "#FFFFFF";
    border-radius: 2px;
}
QWidget[objectName="net_setting_tab"] QLineEdit:focus{
    background-color: "#1E2024";
    color: "#FFFFFF";
    border-bottom: 1px solid "#4CC2FF";
}

QWidget[objectName="version_tab"] QLabel{
    color: "#FFFFFF";
}
